body{
    margin: 0px;
    padding: 0;
}

h1{
    font-family: 'BioRhyme', serif;
    font-size: 50px;
    line-height: 35px;
    color: rgb(51, 44, 44);
}
.word-highlighter{
    color: crimson;
    font-family: 'Stardos Stencil', cursive;
}
.top-part{
    display: flex;
    margin-top: 30px;
    background-image:url(images/shapes/shape-1.png) ;
    background-repeat:no-repeat;
    background-size: 22%;
    background-position: right 25px bottom 8px;
}

.half-width{
        width: 40%;
        margin-left: 5%;
        padding-left: 2%;       
}
.half-width img{
    width: 70%;
    margin-left: 20%;
}
#left-border{
    border-left:5px solid crimson;
    border-radius:5px;
    padding-left: 10px;
}
.link-btn{
    text-decoration: none;
    padding: 15px 26px;
    background-image: linear-gradient(45deg,crimson, rgb(94, 21, 122));
    color: white;
    border-radius: 8px;
}
.underline-word{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.button {
    margin-top: 30px;
    margin-bottom: 30px;
}
#myMission{
    font-size: 40px;
    color: #0a71b1 ;
    text-align: center;
}
.misson h2{
    color: crimson;
}
.misson-area{
    display: flex;
    margin: 0px 60px;
}
.content-mission{
    width: 80%;
    border-radius: 15px;
    margin: 25px;
    padding: 5px;
    text-align: center;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
}
#bg-light1{
    background-color: #deebe8;
}
#bg-light2{
    background-color: #f1e4ee;
}
#bg-light3{
    background-color: #dadad4;
}
.creation-area{
    display: flex;
    margin-top: 54px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 10px;
}
.creation-content2{
width: 70%;
margin-left: 10%;
padding-right: 25px;
}
.creation-content2 p{
 font-size: 20px;
}
.creation-content1 img{
    width: 100%;
    margin-left: 22%;
}
.creation-content1 {
    width: 40%;
}
.community-area{
    display: flex;
    margin-top: 30px;
    padding-bottom: 40px;
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: right 260px bottom 43px;
}
.community-content{
    margin-left: 6%;
    padding-right:90px; 
}
.community-content img{
width: 100%;
}
.community-content p{
    font-size: 20px;
}
.content-mission img{
    width: 50%;
}
#bg-light1{
    background-color: #e4ecea;
    
}
#bg-light2{
    background-color: #f1e4ee;
}
#bg-light3{
    background-color: #f7f7df;
}
.service-area{
    display: flex;
    margin-top: 54px;
    padding-bottom: 13px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left 2px top -2px;
}
.service-content2{
width: 70%;
margin-left: 10%;
padding-right: 25px;
}
.service-content2 p{
 font-size: 20px;
}
.service-content1 img{
    width: 80%;
    margin-left: 22%;
    border-radius: 25px;
    box-shadow: 10px 12px 5px rgb(185, 159, 159);
}
.service-content1 {
    width: 40%;
}
.service-content2 p{
    margin-top: 30px;
    font-size: 25px;
}
#service-shadow{
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: 5px 4px 4px rgb(0, 0, 0);
}
footer{
    background-color: black;
    text-align: center;
    padding: 2px ;

}
.footer-para{
    color: rgb(255, 255, 255);
    font-family: 'Yuji Hentaigana Akebono', cursive;
}